@font-face {
   font-family: "Montserrat";
   src: url("fonts/Montserrat Regular.woff") format("woff"), url("fonts/Montserrat Regular.eot") format("embedded-opentype"), url("fonts/Montserrat Regular.ttf") format("truetype"), url("fonts/Montserrat Regular.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Montserrat";
   src: url("fonts/Montserrat Italic.woff") format("woff"), url("fonts/Montserrat Italic.eot") format("embedded-opentype"), url("fonts/Montserrat Italic.otf") format("opentype");
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: "Montserrat";
   src: url("fonts/Montserrat Bold.woff") format("woff"), url("fonts/Montserrat Bold.eot") format("embedded-opentype"), url("fonts/Montserrat Bold.ttf") format("truetype"), url("fonts/Montserrat Bold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Montserrat";
   src: url("fonts/Montserrat Thin.woff") format("woff"), url("fonts/Montserrat Thin.eot") format("embedded-opentype"), url("fonts/Montserrat Thin.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "SF Pro Display Light";
   src: url("fonts/SF Pro Display Light.woff") format("woff"), url("fonts/SF Pro Display Light.eot") format("embedded-opentype"), url("fonts/SF Pro Display Light.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "SF Pro Text Light";
   src: url("fonts/SF Pro Text Light.woff") format("woff"), url("fonts/SF Pro Text Light.eot") format("embedded-opentype"), url("fonts/SF Pro Text Light.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "SF Pro Display Bold";
   src: url("fonts/SF Pro Display Bold.woff") format("woff"), url("fonts/SF Pro Display Bold.eot") format("embedded-opentype"), url("fonts/SF Pro Display Bold.otf") format("opentype");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "SF Pro Display Medium";
   src: url("fonts/SF Pro Display Medium.woff") format("woff"), url("fonts/SF Pro Display Medium.eot") format("embedded-opentype"), url("fonts/SF Pro Display Medium.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "SF Pro Display Regular";
   src: url("fonts/SF Pro Display Regular.woff") format("woff"), url("fonts/SF Pro Display Regular.eot") format("embedded-opentype"), url("fonts/SF Pro Display Regular.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "SF Compact Text Thin";
   src: url("fonts/SF Compact Text Thin Italic.woff") format("woff"), url("fonts/SF Compact Text Thin Italic.eot") format("embedded-opentype"), url("fonts/SF Compact Text Thin Italic.otf") format("opentype");
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: "SF Pro Display Thin";
   src: url("fonts/SF Pro Display Thin Italic.woff") format("woff"), url("fonts/SF Pro Display Thin Italic.eot") format("embedded-opentype"), url("fonts/SF Pro Display Thin Italic.otf") format("opentype");
   font-weight: normal;
   font-style: italic;
}